- name: Deploy Authentik on LXC 200
  hosts: infrastructure
  become: true
  vars:
    authentik_dir: /opt/authentik

  tasks:
    - name: Create Authentik directory
      ansible.builtin.file:
        path: "{{ authentik_dir }}"
        state: directory
        mode: "0755"

    - name: Create data directories
      ansible.builtin.file:
        path: "{{ authentik_dir }}/{{ item }}"
        state: directory
        mode: "0755"
      loop:
        - database
        - redis
        - media
        - certs
        - custom-templates

    - name: Deploy docker-compose.yml
      ansible.builtin.template:
        src: "{{ playbook_dir }}/../templates/authentik/docker-compose.yml.j2"  # noqa: no-relative-paths
        # Correction ici : retrait du mot "rack" parasite
        dest: "{{ authentik_dir }}/docker-compose.yml"
        mode: "0644"

    - name: Run Authentik stack
      community.docker.docker_compose_v2:
        project_src: "{{ authentik_dir }}"
        state: present
        pull: always
