---
- name: Install Node Exporter
  hosts: all
  become: yes
  tasks:
    - name: Install prometheus-node-exporter
      ansible.builtin.apt:
        name: prometheus-node-exporter
        state: present
        update_cache: yes
    - name: Ensure service is running
      ansible.builtin.service:
        name: prometheus-node-exporter
        state: started
        enabled: yes
